<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rod.app.aplicacaobancodados">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".BancoDeDadosActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GravaRegistrosActivity"
            android:label="@string/title_activity_grava_registros"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GravaRegistros2Activity"
            android:label="@string/title_activity_grava_registros2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ConsutaDadosActivity"
            android:label="@string/title_activity_consuta_dados"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AlterarDadosActivity"
            android:label="@string/title_activity_alterar_dados"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AlterarDados2Activity"
            android:label="@string/title_activity_alterar_dados2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ExcluirDadosActivity"
            android:label="@string/title_activity_excluir_dados"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ExcluirDados2Activity"
            android:label="@string/title_activity_excluir_dados2"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
